<!DOCTYPE html>
<html>
<head>
    <title>Translation Page</title>
    <style>
        .container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 100vh;
        }
        textarea {
            width: 30%;
            height: 100px;
        }
        button {
            padding: 10px 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <textarea id="source" placeholder="Enter source sentence" required></textarea>
        <button id="translate-button">Translate</button>
        <textarea id="output" disabled></textarea>
    </div>

    <script>
        document.getElementById('translate-button').addEventListener('click', function() {
            var sourceText = document.getElementById('source').value;
        
            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({text: sourceText}),
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('output').value = data.response;
            });
        });
    </script>
</body>
</html>